.alert--err {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  -webkit-animation: alert 5s ease;
          animation: alert 5s ease;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #e8e7e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.app {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  min-width: 350px;
}

.app__heading {
  font-size: 32px;
  margin: 36px 0;
  text-align: center;
  font-weight: bold;
}

.app__balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  margin-bottom: 16px;
}

.app__balance span {
  font-size: 24px;
  font-weight: bold;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 2px;
  padding: 12px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__item {
  width: 50%;
  text-align: center;
}

.card__item--income {
  border-right: 1px solid #ddd;
}

.card__tittle {
  font-size: 16px;
}

.card__value {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.card__value--income {
  color: #3ebf73;
}

.card__value--expense {
  color: #b9322a;
}

.history {
  margin: 20px 0;
  width: 100%;
}

.history__tittle {
  font-size: 18;
  font-weight: bold;
}

.history__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 240px;
  overflow: auto;
}

.history__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin-bottom: 8px;
  padding: 12px 8px;
  font-size: 16px;
  border-right: 4px solid #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.history__item--income {
  border-color: #3ebf73;
}

.history__item--expense {
  border-color: #b9322a;
}

.history__value {
  letter-spacing: 1px;
}

.adding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adding__heading {
  font-size: 18px;
  font-weight: bold;
}

.adding__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adding__lable {
  margin: 12px 0 8px;
  font-size: 16px;
}

.adding__input {
  font-size: 18px;
  padding: 4px;
  outline: none;
}

.adding__submit {
  margin-top: 8px;
  width: 100%;
  font-size: 18px;
  padding: 6px;
  background-color: #7161c1;
  border: none;
  color: #fff;
}

@-webkit-keyframes alert {
  0% {
    opacity: 0;
    right: -20%;
  }
  5% {
    opacity: 1;
    right: 20px;
  }
  to {
    opacity: 0;
  }
}

@keyframes alert {
  0% {
    opacity: 0;
    right: -20%;
  }
  5% {
    opacity: 1;
    right: 20px;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */